@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
    font-family: newyork;
    src: url(./assets/NewYork.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
}
::-webkit-scrollbar{
    width: 0;
}
body{
    color: #FFFFFF;
    background-color: #08043A;
    font-size: 16px;
}
.noNeed{
    display: none;
}
 .header{
    max-height: 5rem;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #FFFFFF99;
    backdrop-filter: blur(1.25rem);      
    -webkit-backdrop-filter: blur(1.25rem);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}
.headerWrapper > img{
    display: none;
}
.headerMobileViewLinks{
    display: none;
}
.headerMobileViewLinks.show{
    display: block;
}

.serviceLink1.show{
    display: block;
}
.headerWrapper{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: block;
    width: 8.307rem;
    height: 3.75rem;
    overflow: hidden;
    background-image: url(../assets/CX\ Logo-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.headerWrapper section{
        width: 25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
}

.headerWrapper > section > a{
        display: block;
        text-decoration: none;
        color: #6e6e6e;
        background: none;
        text-underline-offset: 50%;
        transition: transform .2s;
}
.header section > a:hover{
    transform: scale(1.1);
    color: #2e2e2e;
}
.headerWrapper > section > a.currentPageIndication{
    text-decoration: underline;
    color: #08043A;
    font-weight: 500;
}
.dropdown button{
    font-size: inherit;
    border: none;
    background: none;
    color: #6e6e6e;
    cursor: pointer;
    padding: 1.7rem 0.5rem;
    transition: transform .2s;
}
.dropdown:hover button{
    transform: scale(1.1);
    color: #2e2e2e;
}
.dropdown .dropdownList a{
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    background: none;
    padding: 0.3rem 1.5rem;
    transform: none;
}
.dropdown .dropdownList{
    display: none;
    position: absolute;
    top: 4rem;
    padding: 0.75rem 0;
    border-radius: 0.75rem;
    box-shadow: 0 0 1px 0 #000000;
    min-width: 10rem;
    background-color: #FFFFFF;
    line-height: 2rem;
}
.dropdown:hover .dropdownList{
    display: block;
}
.dropdownList a:hover{
    color: rgba(0, 0, 0, 1);
    background-color: #DDDDDD;
}

.welcome {
    background-image: url(assets/welcomeBackgroundImg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
.welcomeWrapper{
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text1 > text {
    padding-top: 7.5rem;
    font-size: 7.5rem;
    font-weight: 400;
    font-family: 'newyork';
    fill: none;                   
    stroke: white;                
    stroke-width: 2;
    stroke-dasharray: 2000;      
    stroke-dashoffset: 2000;     
    animation: write 20s ease forwards, fill 1s ease forwards 3s;
    color: #FFFFFF;
}
.text2, .text3{
    display: none;
}
@keyframes write {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from { fill: transparent; }
    to { fill: white; }  
}
.welcomeWrapper p {
    font-size: 1.25rem;
    padding-top: 2.5rem;
    width: 48.063rem;
    text-align: center;
    line-height: 2.5rem;
    background: none;
}
.welcomeButtonsWrapper {
    width: 28.563rem;
    height: 4.5rem;
    margin: 3.75rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
}
.welcomeButtonsWrapper button {
    height: 3rem;
    padding: 0 2.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    border: 0.3px solid #FFFFFF40;
    transition: all 0.4s ease;
}
.welcomeButtonsWrapper button:hover {
    background-size: 600% 600%;
    border: 0.5px solid white;
    background-image: linear-gradient(270deg, #046196, #08043A,  #046196);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    animation: moveGradient 3s ease infinite;
}
@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.welcomeButtonsWrapper #startYourJourney_btn {
    width: 14.125rem;
    background-color: #02a6bc;
}
.welcomeButtonsWrapper #bookACall_btn {
    width: 10.438rem;
    background-color: #FFFFFF50;
}

.aboutUsContainer{
    width: 100%;
    background-image: url(assets/screen2Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutUsWrapper{
    width: 80rem;
    min-height: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutUs{
    width: 29.563rem;
    height: 19.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutUs h2{
    font-weight: 500;
    font-size: 0.75rem;
    color: rgba(2, 166, 220, 1);
}
.aboutUs p{
    font-weight: 400;
    line-height: 1.875rem;
    color: rgba(170, 170, 170, 1);
}
.aboutUs a{
    font-weight: 500;
    text-decoration: none;
    color: rgba(2, 166, 220, 1);
}
.aboutUsLogoImgContainer{
    width: 40rem;
    height: 21.75rem;
    border-radius: 2.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    background-image: url(assets/WhatsApp_Image_2025-09-10_at_17.37.23_33feba38-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.servicesContainer{
    width: 100%;
    background-color: #08043A;
    display: flex;
    justify-content: space-around;
}
.servicesWrapper{
    width: 80rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0;
}
.servicesContainer h2{
    width: 100%;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 500;
    color: rgba(2, 166, 220, 1);
}
.servicesContainer p{
    width: 100%;
    font-weight: 400;
    color: rgba(162, 162, 162, 1);
    text-align: left;
    padding: 2.5% 0;
}
.servicesCardContainer{
    width: 100%;
    min-height: 50rem;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}
.servicesCard1{
    width: 18.125rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 1.25rem;
    position: relative;
    background: #08043A;
    cursor: pointer;
}
.servicesCard1::before{
    content: '';
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(to top, rgba(8, 4, 58, 1), rgba(136, 136, 136, 1));
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    z-index: 0;
}
.servicesCard1 * {
    position: relative;
    z-index: 1;
}
.servicesCardImgWarpper1 {
    display: inline-flex;
    width: 2.8rem;
    padding: 2px;
    border-radius: 0.25rem;
    background: linear-gradient(to bottom, rgba(136, 136, 136, 1), rgba(8, 4, 58, 1));
    margin: 1rem;
}
.servicesCardImgWarpper1 img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    background: #08043A;
    padding: 0.25rem;
    display: block;
}
.servicesCard1 h3{
    margin-left: 1rem;
    max-width: 15.625rem;
}
.servicesCard1 p{
    margin-left: 1rem;
    padding-top: 1rem;
    max-width: 15.625rem;
}
.servicesCard1 button, .servicesCard2 button{
    text-align: left;
    margin: 2rem 0 0 1rem;
    border: none;
    background: none;
    color: rgba(2, 166, 220, 1);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.servicesCard1 button i, .servicesCard2 button i{
    margin: 0 0 0 0.75rem;
    font-size: 1.25rem;
    color: rgba(2, 166, 220, 1);
    cursor: pointer;
}
.servicesCard2{
    width: 18.125rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 1.25rem;
    position: relative;
    background: #08043A;
    cursor: pointer;
}
.servicesCard2::before{
    content: '';
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(to top,rgba(136, 136, 136, 1), rgba(8, 4, 58, 1));
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    z-index: 0;
}
.servicesCard2 * {
    position: relative;
    z-index: 1;
}
.servicesCardImgWarpper2 {
    display: inline-flex;
    width: 2.8rem;
    padding: 2px;
    border-radius: 0.25rem;
    background: linear-gradient(to bottom, rgba(8, 4, 58, 1), rgba(136, 136, 136, 1));
    margin: 1rem; 
}
.servicesCardImgWarpper2 img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    background: #08043A;
    padding: 0.25rem;
    display: block;
}
.servicesCard2 h3{
    margin-left: 1rem;
    max-width: 15.625rem;
}
.servicesCard2 p{
    margin-left: 1rem;
    padding-top: 1rem;
    max-width: 15.625rem;
}

.industriesWeWorkWithContainer{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-around;
}
.industriesWeWorkWithWrapper{
    width: 80rem;
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.industriesWeWorkWithContainer h2{
    font-size: 0.75rem;
    font-weight: 500;
    color: rgba(2, 166, 220, 1);
    width: 100%;
}
.industriesWeWorkWithContainer p{
    font-weight: 400;
    color: rgba(162, 162, 162, 1);
    padding-top: 2.5%;
    width: 100%;
}
.industriesWeWorkWithCardContainer{
    margin-top: 2.5%;
    width: 100%;
    min-height: 40.625rem;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}
.industriesWeWorkWithCard{
    width: 25rem;
    height: 11.875rem;
    background-color: rgba(245, 245, 245, 1);
    border: none;
    border-radius: 1.25rem;
    text-align: center;
    cursor: default;
    transition: transform .2s; 
}
.industriesWeWorkWithCard:hover{
    transform: scale(1.02);
    box-shadow: 0 0 0.5rem 0 black;
}
.industriesWeWorkWithCard img{
    width: 2.088rem;
    height: 2.091rem;
    margin:0;
    margin-top: 1rem;
    padding: 0;
}
.industriesWeWorkWithCard h3{
    color: rgba(30, 30, 30, 1);
    font-size: 1.25rem;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
}
.industriesWeWorkWithCard p{
    margin: 0;
    margin-top: 1rem;
    margin-left: 0.625rem;
    padding: 0;
    font-weight: 400;
    max-width: 23.5rem;
    max-height: 18.75rem;
}
.industriesWeWorkWithCompanyCard{
    width: 25rem;
    height: 11.875rem;
    background-image: url(assets/WhatsApp_Image_2025-09-10_at_17.37.23_33feba38-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1.25rem;
    position: relative;
    cursor: default;
    z-index: 1;
    transition: transform .2s;
}
.industriesWeWorkWithCompanyCard::before{
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(37, 114, 232, 1), rgba(2, 29, 172, 1));
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    z-index: 0;
}

.joinOurCircleContainer{
    width: 100%;
    min-height: 24rem;
    height: auto;
    background-color: rgba(8, 4, 58, 1);
    text-align: center;
}
.joinOurCircleContainer h2{
    font-size: 2.5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    padding-top: 3%;
}
.joinOurCircleContainer p{
    font-weight: 400;
    color: rgba(162, 162, 162, 1);
    padding-top: 1.5rem;
}
.joinOurCirleSubscribeContainer{
    position: relative;
    margin-top: 2rem;
    display: inline-block;
}
.joinOurCirleSubscribeContainer input{
    width: 32rem;
    height: 3.625rem;
    background-color: rgba(44, 44, 44, 1);
    color: rgba(162, 162, 162, 1);
    border: 1px solid rgba(55, 65, 81, 1);
    border-radius: 0.5rem;
    padding-right: 13rem;
    padding-left: 1rem;
    box-sizing: border-box;
    outline: none;
}
.joinOurCirleSubscribeContainer button{
    position: absolute;
    top: 29%;
    right: 2.9rem;
    transform: translateY(-50%);
    height: 2.625rem;
    padding: 0 1rem;
    border: 0.5px solid rgba(44, 44, 44, 1);
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, rgba(2, 166, 220, 1), rgba(8, 4, 58, 1));
    color: rgba(255, 255, 255, 1);
    cursor: default;
}
.joinOurCirleSubscribeContainer button:hover{
    border: 0.5px solid white;
}
.joinOurCirleSubscribeContainer p{
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(156, 163, 175, 1);
}

.GQContainer{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.GQContainer h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: rgba(30, 30, 30, 1);
    padding-top: 3%;
}
.GQContainer p{
    font-weight: 400;
    color: rgba(110, 110, 110, 1);
}
.GQBorder{
    width: 80rem;
    margin: 2% 0;
}
.GQ{
    border: 1px solid rgba(142, 142, 142, 1);
    border-radius: 0.5rem;
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}
.GQQuestion{
    margin: 0.5% 0;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.GQQuestion p {
  color: rgba(46, 46, 46, 1);
  font-weight: 500;
}
.GQAnswer {
  width: 98%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.GQAnswer hr {
  border: 1px solid rgba(232, 230, 230, 0.861);
  opacity: 0;
  max-height: 0;
  width: 98%;
  transition: all 0.3s ease;
}
.GQAnswer p {
    width: 100%;
    color: rgba(110, 110, 110, 1);
    font-weight: 400;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}
.answer.show {
  max-height: 12.5rem;
  opacity: 1;
  margin: 0.3rem 0;
}
.arrow {
  transition: transform 0.3s ease;
}
.arrow.rotate {
  transform: rotate(180deg);
}

.footer{
    width: 100%;
    background-color: rgba(8, 4, 58, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer hr{
    display: block;
    width: 100%;
    border: 1px solid rgba(62, 62, 62, 1);
}
.footer p{
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin: 2rem 0;
}
.footerTableContainer{
    width: 80rem;
    min-height: 18.625rem;
    height: auto;
    margin: 3% 0;
    display: flex;
    justify-content: space-between;
}
.footerSocialMediaContainer{
    width: 16.563rem;
}
.footerSocialMediaContainer img{
    width: 9.875rem;
    height: 4.5rem;
    object-fit: cover;
    cursor: pointer;
}
.footerSocialMediaContainer p{
    font-weight: 400;
    margin: 1rem 0 3rem 0;
    color: rgba(238, 238, 238, 1);
    max-width: 16.563rem;
}
.footerSocialMediaIconContainer img{
    width: 2rem;
    height: 2rem;
    border: 0.25rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.footerLinksMobileView{
    display: none;
}
.quickLink.show{
    display: block;
}
.serviceLink.show{
    display: block;
}
.legalLink.show{
    display: block;
}
.footerTableContainer table{
    min-width: 39.813rem;
}
.footerTableContainer table th{
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}
.footerTableContainer table td{
    font-weight: 400;
    color: rgba(162, 162, 162, 1);
    text-align: left;
    padding-left: 0.75rem;
    cursor: pointer;
}
.footerTableContainer table td:hover{
    color: #eeeeee;
}

@keyframes textFromBottom {
    from{
        opacity: 0;
        transform: translateY(5%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1440px){
    .welcomeWrapper, 
    .aboutUsWrapper, 
    .servicesWrapper, 
    .industriesWeWorkWithWrapper, 
    .GQBorder, 
    .footerTableContainer{
        width: 90%;
    }
    .servicesCard1{
        width: 18.125rem;
        height: 20rem;
    }

}

/* Small mobile (portrait) */
@media (max-width: 480px) {
    body{
        font-size: 15px;
    }
    .header{
        max-height: auto;
        flex-direction: column;
    }
    .headerWrapper > img{
        display: block;
    }
    .headerMobileViewLinks{
        width: 100%;
        margin: 0.5rem 0 0 0;
        text-align: left;
    }
    .headerMobileViewLinks > h4{
        width: 100%;
        padding: 0.75rem 0 0.75rem 1rem;
        color: #454444;
        background-color: #FFFFFF;
    }
    .headerMobileViewLinks > a{
        display: none;
        font-weight: 500;
        text-decoration: none;
        width: 100%;
        padding: 0.5rem 0 0.5rem 3rem;
        color: #272727;
        background-color: #FFFFFF;
    }
    .headerWrapper section{
        display: none;
    }
    .logo{
        width: 8rem;
        height: 4rem;
        background-size: contain;
        margin: 0.2rem 0;
    }
    .welcome{
        background-size: cover;
        height: 50rem;
    }
    .welcomeWrapper{
        width: 100%;
    }
    .text1{
        min-height: 50%;
        width: 100%;
        display: none;
    }
    .text2{
        width: 100%;
        display: block;
        margin-top: 30%;
    }
    .text2 > text{
        color: #FFFFFF;
        font-size: 15rem;
        font-weight: 400;
        font-family: 'newyork';
        fill: none;                   
        stroke: white;                
        stroke-width: 2;
        stroke-dasharray: 2000;      
        stroke-dashoffset: 2000;     
        animation: write 20s ease forwards, fill 1s ease forwards 3s;
    }
    .text3{
        width: 100%;
        display: block;
    }
    .text3 > text{
        color: #FFFFFF;
        font-size: 15rem;
        font-weight: 400;
        font-family: 'newyork';
        fill: none;                   
        stroke: white;                
        stroke-width: 2;
        stroke-dasharray: 2000;      
        stroke-dashoffset: 2000;     
        animation: write 20s ease forwards, fill 1s ease forwards 3s;
    }
    .welcomeWrapper p{
        padding-top: 2.5rem;
        font-size: 16px;
        width: 94%;
        line-height: 1.5rem;
    }
    .welcomeButtonsWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 11rem 0 0 0;
        height: auto;
    }
    .welcomeButtonsWrapper #startYourJourney_btn {
        width: 21.438rem;
    }
    .welcomeButtonsWrapper #bookACall_btn {
        width: 21.438rem;
        margin-top: 2rem;
    }
    /* ==================== ABOUT US ================================ */
    .aboutUsWrapper{
        width: 100%;
        min-height: 25rem;
    }
    .aboutUs *{
        padding: 0 0.75rem;
    }
    .aboutUs a{
        font-size: 14px;
    }
    .aboutUsLogoImgContainer{
        display: none;
    }
/* ===================== SERVICE ============================ */
    .servicesWrapper{
        width: 100%;
    }
    .servicesWrapper > h2{
        padding: 0 0.75rem;
    }
    .servicesWrapper >p{
        padding: 0.5rem 0.5rem 1rem 0.75rem;
    }
    .servicesCardContainer{
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .servicesCard1, .servicesCard2{
        width: 92%;
        margin-left: 4%;
    }
    .servicesCard1 p, .servicesCard2 p{
        max-width: 92%;
        padding-left: 4%;
    }
    .servicesCard1 button, .servicesCard2 button {
        font-size: 0.9rem;
    }
    .servicesCard1 button i, .servicesCard2 button i{
        font-size: 0.75rem;
    }
    .servicesCard2::before, .servicesCardImgWarpper2{
        background: linear-gradient(to bottom,rgba(136, 136, 136, 1), rgba(8, 4, 58, 1));
    }
    .servicesContainer h2{
        margin-top: 2rem;
    }
/* ==================== INDUSTRIES WE WORK WITH ======================================== */
    .industriesWeWorkWithWrapper{
        width: 100%;
    }
    .industriesWeWorkWithWrapper > h2{
        padding: 1rem 0.5rem 0.5rem 0.75rem;
    }
    .industriesWeWorkWithWrapper > p{
        padding: 0 0.5rem 0 0.75rem;
    }
    .industriesWeWorkWithCardContainer{
        grid-template-columns: 1fr;
        row-gap: 1rem;
        margin-bottom: 1rem;
    }
    .industriesWeWorkWithCard{
        width: 90%;
        margin-left: 5%;
    }
    .industriesWeWorkWithCompanyCard{
        display: none;
    }

    .joinOurCircleContainer{
        min-height: 22rem;
    }
    .joinOurCirleSubscribeContainer{
        width: 85%;
    }
    .joinOurCirleSubscribeContainer input{
        width: 100%;
    }
    .joinOurCirleSubscribeContainer button{
        top: 25%;
        right: 0.3rem;
    }

    .GQContainer h2{
        font-size: 2rem;
        width: 98%;
        padding-left: 0.5rem;
    }
    .GQContainer p{
        width: 98%;
        padding-left: 0.5rem;
    }
    .GQBorder{
        width: 90%;
        margin-bottom: 2rem;
    }
    .GQ{
        min-height: 3rem;
    }

    .footerTableContainer{
        width: 98%;
        min-height: auto;
        flex-direction: column;
    }
    .footerSocialMediaContainer{
        display: none;
    }
    .footerTableDesktopView{
        display: none;
    }
    .footerLinksMobileView{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerLinksMobileView > h4{
        width: 100%;
        text-align: center;
        padding: 0.75rem 0;
        cursor: pointer;
    }
    .footerLinksMobileView > a{
        display: none;
        font-weight: 500;
        text-decoration: none;
        color: #FFFFFF;
        border-bottom: 1px solid #08043A;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
        background-color: #23214e;
    }
    .footerLinksMobileView > .footerSocialMediaIconContainer{
        margin: 0.5rem 0 0 0;
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
    .footerLinksMobileView > .footerSocialMediaIconContainer img{
        margin: 0;
        justify-content: space-between;
    }
    .footer p{
        width: 98%;
        text-align: center;
    }
    .footerTableContainer table{
        min-width: auto;
    }
}
